# EmailJS
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=SEU_PUBLIC_KEY_AQUI
NEXT_PUBLIC_EMAILJS_SERVICE_ID=SEU_SERVICE_ID_AQUI
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_org

# E-mail do organizador
NEXT_PUBLIC_EMAIL_ORGANIZADOR=SEU_EMAIL_AQUI@dominio.com

# Google Apps Script URL
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/SEU_SCRIPT_ID_AQUI/exec
